 *{
margin: 0;
padding: 0;
box-sizing: border-box;
 }
body{
    font-family: 'Poppins', sans-serif;
}


 .navbar{
    display: flex;
    align-items:center;
    padding:20px;
 }
 nav{
    flex:1;
    text-align: right;
 }

 nav ul{
    display: inline-block;
    list-style-type: none;
 }

 nav ul li{
    display:inline-block;
    margin-right: 20px;
 }

 a{
    text-decoration: none;
    color: #555;
 }

 p{
    color:#555;
 }

 .container{
    max-width: 1300px;
    margin:auto;
    padding-left: 25px;
    padding-right: 25px;
 }

 .row{
    display:flex;
    align-items:center;
    flex-wrap: wrap;
    justify-content:space-around;
 }
 .col-2{
    flex-basis:50%;
    min-width:300px;
 }
 .col-2 img{
    max-width:65%;
    padding:50px 0;
 }
 .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin:25px 0;
 }
 .btn{
    display:inline-block;
    background: #ff523b;
    color:#fff;
    padding:8px 30px;
    margin:30px 0;
    border-radius: 30px;
    transition: background 0.5s;
 }
 .btn:hover{
    background:#563434;
 }

 .header{
    background:radial-gradient(#fff,#d6faff);
 }

 .header .row{
    margin-top: 70px;
 }

 .categories{
margin:70px 0;
 }

 .col-3{
   flex-basis:30%;
   min-width:250px;
   margin-bottom: 30px;
 }

 .col-3 img{
   width:100%
 }

 .small-container{
   max-width: 1080px;
   margin:auto;
   padding-left:25px;
   padding-right:25px;
 }

 .col-4{
   flex-basis:25%;
   padding:10px;
   min-width:200px;
   margin-bottom: 50px;
   transition: transform 0.5s;
 }

 .col-4 img{
   width:100%;
 }

 .title{
   text-align:center;
   margin: 0 auto 80px;
   position:relative;
   line-height:60px;
   color:#555;
 }

 .tittle ::after{
   content:'';
   background: #ff523b;
   width: 80px;
   height: 5px;
   border-radius: 5px;
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
 }

 h4{
   color:#555;
   font-weight: normal;
 }
 .col-4 p{
   font-size:14px;
 }
 .rating .fa{
   color: #ff523b;
 }

 .col-4:hover{
   transform: translateY(-5px);
 }

 /*----------------Offer------------*/
 
 .offer{
    background:radial-gradient(#fff,#ee260c);
    margin-top:80px;
    padding: 30px 0;
 }

 .col-2 .offer-img{
   padding:50px;
 }
 small{
   color:#555;
 }

 .testimonial{
   padding-top:100px;
 }
 .testimonial .col-3{
   text-align: center;
   padding:40px 20px;
   box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
   cursor: pointer;
   transition: transform 0.5s;
 }

 .testimonial .col-3 img{
width:50px;
margin-top:20px;
border-radius:50%;
 }

 .testimonial .col-3:hover{
   transform:translateY(-10px);
 }

 .fa.fa-quote-left{
   font-size:34px;
   color:#ff523b;
 }

 .col-3 p{
   font-size:12px;
   margin:12px 0;
   color:#777;
 }

 .testimonial .col-3{
   font-weight: 600;
   color:#555;
   font-size: 16px;
 }

 /*---------Brands----------*/
.brands{
   margin:100px auto;
}

.col-4p{
   width:160px;
}

.col-4p img{
   width:70%;
   cursor:pointer;
   
   
}
.col-4p img:hover{
   filter:grayscale(0);
}

.footer{
   background: #000;
   color: #8a8a8a;
   font-size: 14px;
   padding:60px 0 20px;
}

.footer p{
   color:#8a8a8a
}

.footer h3{
   color:#fff;
   margin-bottom: 20px ;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4 {
   min-width: 250px;
   margin-bottom: 20px;
}
.footer-col-1{
flex-basis: 30%;
}

.footer-col-2{
   flex: 1;
   text-align: center;
}

.footer-col-3, .footer-col-4{
   flex-basis: 12%;
   text-align: center;
}

ul{
   list-style-type: none;
}

.app-logo{
   margin-top: 20px;
}

.app-logo img{
   width:140px;
}

.footer hr{
   border:none;
   background: #b5b5b5;
   height: 1px;
   margin:20px 0;
}

.copyright{
   text-align: center;
}

.menu-icon{
   width:28px;
   margin-left: 20px;
   display: none;
}

/*---------------media query-----------*/

@media only screen and (max-width:600px){
   nav ul{
      position:absolute;
      top:70px;
      left:0;
      background:#333;
      width:100%;
      overflow: hidden;
      transition: max-height 0.7s;
   }
   nav ul li{
      display: block;
      margin-right: 50px;
      margin-top: 5px;
      margin-bottom: 10px;
   }
   nav ul li a{
      color:#fff;
   }
   .menu-icon{
      display: block;
      cursor:pointer;
   }
}


/*-------------All products page--------*/

h2{
   margin-bottom: 20px;
}

.page-btn{
   margin:0 auto 80px;
}

.page-btn span{
display: inline-block;
border:1px solid #ff523b;
margin-left: 10px;
width:40px;
height:40px;
text-align: center;
line-height: 40px;
cursor: pointer;
}

.page-btn span:hover{
   background: #ff523b;
   color:#fff;
}

/*--------single product--------*/
.single-product{
   margin-top: 80px;
}

.single-product .col-2 img{
   padding:0;
}
.single-product .col-2 {
   padding:20px;
}

.single-product h4{
   margin:20px 0;
   font-size: 22px;
   font-weight: bold;
}

.single-product select{
   display:block;
   padding:10px;
   margin-top: 15;
}

.single-product input{
   width:50px;
   height:40px;
   padding-left: 10px;
   font-size: 20px;
   margin-right: 10px;
   border:1px solid #ff523b;
}

input :focus{
   outline:none;
}

.single-product .fa{
   color:#ff523b;
   margin-left: 10px;
}

.small-img-row{
   display: flex;
   justify-content: space-between;
}

.small-img-col{
   flex-basis: 24%;
   cursor: pointer;
}

/*--------About us page--------*/

.info{
   display: block;
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 20px;
   width: auto;
   padding:35px;
   border:2px solid #000;
 background-color:rgba(0, 0, 0, 0.384);
   border-radius: 10px;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

h2{
   font-family: 'Times New Roman',  serif;
}

p{
   font-family: 'Times New Roman',  serif;
   font-size: 20px;
   font-weight: 550;
   color: #222;
}

#state{
   font-weight: bold;
}

.section-1{
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 20px;
    display: block;
   padding:35px;
   width: auto;
    border:2px solid #000;
  background-color:rgba(0, 0, 0, 0.384);
   border-radius: 10px;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}


.section-2{
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 20px;
    display: block;
padding:35px;
width: auto;
 border:2px solid #000;
   background-color:rgba(0, 0, 0, 0.384);
   border-radius: 10px;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

}

.section-3{ 
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 20px;
   display: block;
padding:35px;
width: auto;
 border:2px solid #000;
   background-color:rgba(0, 0, 0, 0.384);
   border-radius: 10px;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

}

.section-4{
   margin-right: 20px;
   margin-left: 20px;
   margin-top: 20px;
    display: block;
padding:35px;
width: auto;
 border:2px solid #000;
   background-color:rgba(0, 0, 0, 0.384);
   border-radius: 10px;
   box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);

}

.formation{
   opacity: 0;
   transform: translateY(50px);
   animation: slideUp 5s ease-out forwards;
}

.info:nth-child{
animation-delay:4s;
}

.section-1 :nth-child(1){
   animation-delay:8s;
}

.section-2 :nth-child(2){
   animation-delay:12s;
}

.section-3 :nth-child(3){
   animation-delay:16s;
}

.section-4 :nth-child(4){
   animation-delay:18s;
}

@keyframes slideUp { to {
   opacity: 1;
   transform: translateY(0);
}
   }

/*--------About us picture slide--------*/

.circle-slider{
   position: relative;
   max-width: 100%;
   margin: 50px auto;
   height: 400px;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

.circle-track{
   display: flex;
   gap: 20px;
   transition: transform 0.6s ease;
  
   
}

.slide{
height:100%;
opacity: 0.4;
filter:blur(4px) brightness(60%);
transition:all 1s ease;
flex: 0 0 300px;
transform: scale(0.85);
border-radius: 12px;
overflow: hidden;
}


.slide.active{
opacity: 1;
transform: scale(1);
filter: none;
z-index: 2;
}

.slide img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 12px;
}

/*------------account page---------*/

.account-page{
   padding:50px 0;
   background: radial-gradient(#fff, blue)
}

.form-container{
   background: #fff;
   width: 300px;
   height: 400px;
   position: relative;
   text-align: center;
   padding: 20px 0;
   margin: auto;
   box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1) ;
   overflow: hidden;
}

.form-container span{
   font-weight: bold;
   padding: 0 10px;
   color: #555;
   cursor: pointer;
   width: 100px;
   display: inline-block;
}

.form-btn{
   display: inline-block;
}

.form-container form{
   max-width: 300px;
   padding: 0 20px;
   position: absolute;
   top: 130px;
   transition: transform 1s;
}

/*
position:absolute;
top:130px;
*/

form input{
   width: 100%;
   height: 30px;
   margin: 10px 0;
   padding: 0 10px;
   border: 1px solid #ccc;
}

form .btn{
   width:100%;
   border: none;
   cursor: pointer;
   margin: 10px 0;
}

form .btn:focus{
   outline: none;
}

#LoginForm{
   left: -300px;
}

#RegForm{
   left: 0;
}

form a{
   font-size: 12px;
}

#Indicator{
   width: 100px;
   border: none;
   background: #ff523b;
   height: 3px;
   margin-top: 8px;
   transform: translate(100px);
   transition: transform 1s ;
}

.menu-icon{
   position: relative;
   z-index: 1000;
}

#menuItems{ 
   transition:max-height 0.3s ease-out;

}







/*media query for less than 600 screen size-----*/

@media only screen and (max-width:600px){
  .row{
   text-align: center;
  }
  .col-2, .col-3, .col-4{
   flex-basis:100%;
  }

  .circle-slider{
   height: 250px;
  }

.circle-track{
   flex-direction:column;
   align-items: center;
   gap:6px;
}

.slide{
   flex: 0 0 auto;
   width:90%;
   height: 500px;
   margin: 0 auto;
   transform: scale(0.9);
   filter: blur(2px) brightness(70%)
}

.slide.active{
   transform: scale(1);
   filter:none;
   opacity: 1;
}

.slide img{
   width: 90vw;
   height: auto;
   object-fit: cover;
}

.cart-item img, #cartItems img{
width:100%;
height:auto;
max-width: 400px;
}

.cart-details{
   font-size: 20px;
   line-height: 1.9;
}

.cart-actions{
   font-size: 20px;
   padding: 10px 14px;
}

.subtotal p, #subtotal{
   font-size: 24px;
}

h1{
   font-size: 29px;
}
}
